.btn {
  all: unset;
  width: 120px;
  background-color: $primaryColor;
  border-radius: 0.5em;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  color: #f5f7fb;
  padding: 0.7em;
  cursor: pointer;
}
