.homepage{
    align-self: center;
    justify-self: center;
    display: grid;
    gap: 0.3em;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    p{
        color: $textColor;
    }
    h2{
        color: $textColor;
    }
}
.footer{
    text-align: center;
    align-self: end;
}