.quiz__container {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  gap: 1em;
  .quiz {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 0.5em;
  }
}
.question__container{
    .question{
        font-size: 1rem;
        color: $textColor;
        font-weight: 700;
        line-height: 1.5rem;
    }
}

.answer__container{
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    gap: 1em;

    .answer{
        all: unset;
        border: 0.794239px solid #4D5B9E;
        border-radius: 7.94239px;
        padding: 0.4em;
        font-size: 0.8rem;
        cursor: pointer;
    }
  input{
    all: unset;
  }
    .selected{
      background-color: #D6DBF5;
    }
    .correct{
      background-color: $correctColor;
    }
    .wrong{
      background-color: $wrongColor;
    }
}
.check__answer-btn{
  all:unset;
  background-color: $primaryColor;
  padding: 0.5em;
  border-radius: 0.2em;
  text-align: center;
  color: #D6DBF5;
  font-weight: bold;
  letter-spacing: 1px;
}
.game__over-modal{
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1em;
  z-index: 1;
  width: max-content;
  height: max-content;
  padding: 2em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 1px 1px $lightColor;
  border-radius: 0.4rem;
  color: $textColor;
  font-weight: bold;
  .close__modal{
    background-color: $wrongColor;
    color: #4D5B9E;
  }
}